<table class="tabla-carrito-compras">
    <thead class="thead-carrito-compras">
        <tr class="tr-carrito-compras">
            <th class="th-carrito-compras">
                Productos
            </th>
            <th class="th-carrito-compras">
                Cantidad
            </th>
            <th class="th-carrito-compras">
                Precio
            </th>
        </tr>
    </thead>
    <tbody class="tbody-carrito-compras">
                <tr class="tr-carrito-compra">
                    <td class="td-carrito-compra">
                        Correas
                    </td>
                    <td class="td-carrito-compra">
                        <a href="" class="a-btn-agregar-producto">
                            <button class="btn-agregar-producto">-</button>
                        </a>
                        2
                        <a href="" class="a-btn-agregar-producto">
                            <button class="btn-agregar-producto">+</button>
                        </a>
                    </td>
                    <td class="td-carrito-compra">
                        19000
                    </td>
                </tr>
            <tr class="tr-carrito-compra">
                <td class="td-carrito-compra" colspan="3">
                    <h3 class="advertencia-mensaje-carrito">Sin Productos</h3>
                </td>
            </tr>
    </tbody>
    <tfoot class="tfoot-carrito-compra">
        <tr class="tr-carrito-compra">
            <td class="td-carrito-compra" colspan="2">
                <h4>
                    Total: $ 100000
                </h4>
            </td>
            <td class="td-carrito-compra">
                <a href="">
                    <button class="btn-limpiar-carrito">Limpiar</button>
                </a>
            </td>
        </tr>
    </tfoot>
</table>